/* Loading icon */
.loader,
.loader:before,
.loader:after {
    background: #32b846;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader {
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    color: #32b846;
    text-indent: -9999em;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* VueJS Animations */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* One Viewer Styles */
.woo-crud-container {
    padding:30px 0;
}

.onev-card {
  border: none;
}

.onev-card-body {
  padding: 1.25rem 0;
}

.onev-post-img {
    background-size:cover;
    background-position:top center;
    padding-top:30%;
    padding-bottom:30%;
    border-radius: 5px;
}

.viewer-container .card-body ul , 
.viewer-container .card-body ol {
    list-style-position: inside;
}


.onev-buttons button.btn {
  outline: none !important;
  box-shadow: none !important;
}

.onev-buttons button.btn {
  outline: none !important;
  box-shadow: none !important;
}

.onev-buttons .onev-btn-right {
  text-align: right;
}

.onev-post-card {
  position:relative;
  min-height: 250px;
}

.onev-post-date span {
  font-size: 13px;
  color: #b6b9bb;
  font-weight: 600;
}

.one-viewer-content {
  border-top: 2px solid #b6b9bb;
  padding-top: 30px;
}



/* Mobile styles */

@media (max-width:760px){
  .onev-page-title {
      font-size: 2.5rem;
  }
  .onev-buttons button.btn {
    width:100%;
  }
  .onev-buttons .onev-btn-left {
    margin-bottom: 10px;
    text-align: center;
  }
  .onev-buttons .onev-btn-right {
    text-align: center;
  }
}